<label>Site: </label><%= @survey.site %><br />
<label>Date of Survey: </label><%= @survey.date %><br />
<label>Survey Performed by: </label><%= @survey.surveyors %><br />
<%= link_to 'close', surveys_path %>