/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
img{max-width:100%;}
body{width:80%;margin:auto;padding:5%;}
h1,h2,h2 a{font-family: 'Fredericka the Great', cursive;}
h1{font-size: 2.7em;}
h2, h2 a{font-size: 1.6em;display:inline;color:rgb(233,0,0);}
a{text-decoration: none;color:#7c7c7c;}
a,p,#user_nav,td{font-family: 'News Cycle', sans-serif;}
input{font-family: 'News Cycle', sans-serif;font-size: 1.2em;}
input[type=submit]{
  width:60px;
  background:none;
  border:0;
  color:#7c7c7c;
  font-size:1em;
  clear:both;
  text-align:center;}
li{list-style-type:none;}
.section{clear:both;}
#navwrapper,table{clear:both;padding:10px;}
.navitem{display:block;float:left;width:64px;margin:25px;}
.icon{display:block;width:98%;text-align:center;}
.icon-lable{display:block;width:98%;text-align:center;}
