// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#loginWrapper{width:80%;margin:auto;}
#email,#password{width:99%;}
#logInLock{width:64px;}
#title{width:80%;margin:0%;}
#login{width:45%;float:right;}

