// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{margin-left:5px;}
li{width:70%;margin-left:4%;clear:both;}
td{padding: 1%;}
.surveyDates{font-size:1em;padding:0px 0px 40px 20px;}
.form{width:80%;margin:auto;}
.l{text-align:left;}
.r{text-align:right;}
#gridWrapper{clear:both;margin:auto;}
#download{width:64px;}
